body {
    font-size: 130%;
    font-family: "Bubbler One", sans-serif;
    font-style: normal;
    background-image: url(bg_forest1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    white-space: 20%;
}

.QuienSoy {
    width: 30%;
    height: 10%;
    border-radius: 30px;
    background: green;
    box-shadow: rgb(37, 95, 56) 0px 30px 50px -12px inset, rgb(31, 125, 83) 0px 18px 26px -18px inset;
}

.QuienSoy2 {
    display: flex;
    justify-content: center;
}

.Mencion {
    display: flex;
    justify-content: center;
}

.QueHago1 {
    font-size: 130%;
    width: 30;
    height: 30%;
    border-radius: 30px;
    background: green;
    box-shadow: rgb(37, 95, 56) 0px 30px 50px -12px inset, rgb(31, 125, 83) 0px 18px 26px -18px inset;
}

.MarioKart {
    display: flex;
    justify-content: center;
    height: 30%;
    font-size: 90%;
}

.Tanooki {
    display: flex;
    justify-items: center ;
}

.Gabo {
    display: flex;
    justify-content: center;
}

.GaboCara {
    display: flex;
    justify-content: center;
}

.Proyectos {   
    width: 80%;
    height: 50%;
    border-radius: 30px;
    background: green;
    box-shadow: rgb(37, 95, 56) 0px 30px 50px -12px inset, rgb(31, 125, 83) 0px 18px 26px -18px inset;
}

.NSMW {
    display: flex;
    justify-content: center;
}

.ListaDeProyectos{
    display: flex;
    justify-content: center;
}

.QueDesarrollo{
    display: flex;
    justify-content: center;
}